[Unit]
Description=Get EDF TEMPO days

[Service]
ExecStart=/usr/bin/python3 /home/pi/gettempodays.py &
Restart=always

[Install]
WantedBy=multi-user.target
